
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --bg:#dcebff;
    --white:#ffffff;
    --glass:rgba(255,255,255,.55);
    --border:rgba(255,255,255,.7);

    --primary:#5BA8FF;
    --primary2:#7CC4FF;

    --dark:#111827;
    --text:#24324a;
    --muted:#7a8ba5;

    --shadow:0 20px 45px rgba(56,120,255,.15);

    --radius:26px;
}
